{% extends "base.html" %}
{% block content %}
<h3>All Sights</h3>
{% for sight in all_sights %}
<div class="sight">
    Sight: <a href="/sights/{{sight.id}}">{{sight.name}}</a>
    <p>Location: <a href="/cities/{{sight.city.id}}">{{sight.city.name}}</a></p>
</div>
{% if sight.visited == True %}
<i class="fa fa-check" aria-hidden="true"></i>Visited
{% else %}
<i class="fa fa-times" aria-hidden="true"></i>Unvisited
{% endif %}
<div class="buttons">

    <form class="delete-form" action="/sights/{{sight.id}}/delete" method="POST">
        <button class="btn"><i class="fa fa-trash"></i></button>
    </form>
</div>

{% endfor %}


{% endblock %}