{% extends "base.html" %}
{% block content %}
<h1>Countries</h1>
{% for country in all_countries %}
{% if country.visited == True %}
<ul>
    <li><a href="/countries/{{country.id}}">{{country.name}}</a></li>
</ul>
{% endif %}
{% endfor %}
<h1>Cities</h1>
{% for city in all_cities %}
{% if city.visited == True %}
<ul>
    <li><a href="/cities/{{city.id}}">{{city.name}}</a></li>
</ul>
{% endif %}
{% endfor %}
<h1>Sights</h1>
{% for sight in all_sights %}
{% if sight.visited == True %}
<ul>
    <li><a href="/sights/{{sight.id}}">{{sight.name}}</a></li>
</ul>
{% endif %}
{% endfor %}

{% endblock %}