{% extends "base.html" %}
{% block content %}

<form action="/countries/{{country.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="{{country.name}}" required autofocus>
    </div>
    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">

            <option value="1" {% if country.visited==True %} selected="selected" {% endif %}>
                True
            </option>

            <option value="0" {% if country.visited==False %} selected="selected" {% endif %}>
                False
            </option>

        </select>
    </div>
    <div>
        <label for="continent">Continent:</label>
        <select id="continent" name="continent_id">
            {% for continent in all_continents %}
            {% if country.continent.name == continent.name %}
            <option selected="selected" value="{{ continent.id }}">{{ continent.name }}</option>
            {% else %}
            <option value="{{ continent.id }}">{{ continent.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <button type="submit">Update Country</button>
</form>
{% endblock %}