{% extends "base.html" %}
{% block content %}

<form action="/cities/{{city.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="{{city.name}}" required autofocus>
    </div>

    <div>
        <label for="country">Country:</label>
        <select id="country" name="country_id">
            {% for country in all_countries %}
            {% if city.country.name == country.name %}
            <option selected="selected" value="{{ country.id }}">{{ country.name }}</option>
            {% else %}
            <option value="{{ country.id }}">{{ country.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">

            <option value="1" {% if city.visited==True %} selected="selected" {% endif %}>
                True
            </option>

            <option value="0" {% if city.visited==False %} selected="selected" {% endif %}>
                False
            </option>

        </select>
    </div>

    <button type="submit">Update City</button>
</form>

{% endblock %}