{% extends "base.html" %}
{% block content %}
<h3>All Cities</h3>
{% for city in all_cities %}
<div class="city">
    <a href="/cities/{{city.id}}">{{city.name}}</a>
</div>
{% if city.visited == True %}
<i class="fa fa-check" aria-hidden="true"></i>Visited
{% else %}
<i class="fa fa-times" aria-hidden="true"></i>Unvisited
{% endif %}
<div class="buttons">

    <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
        <button class="btn"><i class="fa fa-trash"></i></button>
    </form>
</div>


{% endfor %}

{% endblock %}